<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="owner" type="com.sletras.model.Owner"*/-->
    <h1 th:text="'Owners List'">Owners List</h1>

    <table th:if="${owners} != null" class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">First Name</th>
                <th style="width: 150px;">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">Jack</td>
                <td th:text="${owner.lastName}">Black</td>
            </tr>
        </tbody>
    </table>
    <div th:if="${owners} == null">
        <p th:text="'There are no owners here'"></p>
    </div>
</body>
</html>